body {
    margin: 0;
    background-color: #222;  /* fondo oscuro tipo Twitter */
    font-family: system-ui;  /* fuente nativa del sistema operativo */
    display: grid;
    place-content: center;   /* centra todo en la pantalla */
    min-height: 100vh;
}
.App {
    display: flex;
    flex-direction: column;
    gap: 16px;
}